.result-header,.result{
    width: 90%;
    height:50px;
    background-color: white;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
    margin: 0 auto;
    
}
.result-header{
    margin-top:25px;
    background-color: #3897f0;
    color: white;
}
.result{
    border-bottom: 2px solid #eee;
}